flask==2.2.5
flask-cors==3.0.10

opentelemetry-api==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-requests==0.47b0

aws-xray-sdk

watchtower

blinker 
rollbar

Flask-AWSCognito

pyjwt
python-jose



psycopg[binary]
psycopg[pool]
